* {
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    font-family: sans-serif;
    /* overflow-x:hidden !important ; */
  }
:root{
    --container-width-ig:80%;
    --container-width-md:90%;
    --container-width-sn:94%;
    --transition: all 400ms ease;
    --font-weight :700;
    --font-weight-medium:600;
    --font-weight-small:500;
    --font-weight-smaller :400;
    --font-weight-smallest:300;
}
body{
    font-family: 'Poppins',sans-serif;
}
/* button style */
.btn-primary{
    /* background: #fd059e; */
    background: #1F0245;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: var(--font-weight-smaller);
    font-size:15px;
    outline: none;
    border: none;
}
.btn-primary:hover{
    background:#000 ;
}
/* .btn-danger{
background-color: #f00997ea;
color:#fff;
font-size: 15px;
font-weight: var(--font-weight-small);
margin-top:1rem ;
}
.btn-danger:focus{
    background-color: #c6538c;
    box-shadow:0,4px,19px rgba(0,0,0,0.3) ;
    color:#fff;

}
.btn-danger:hover{
    background:#fff;
    color:#E2239A;
} */
/* nav bar style */
#logo1{
    color:white;
}
#logo2{
    color:red;
}
.navbar{
    padding: 10px ;
    background:purple;
    /* word-break: break-all; */
}
.nav_icons{
    background-color: red;
}
a.nav-link{
margin-right: 38px;
font-size: 15px;
font-weight: var(--font-weight-small);
color:#fff;

}
a.nav-link:hover{
  color: antiquewhite;
}
.hero{
    background:url('img/mk2.jpg');
    background-size: cover;
    height:40rem;
    width: 100%;
}
.hero1{
    background:url('img/peace\ building\ 1.jfif');
    background-size: cover;
    height:40rem;
    width: 100%;
}
.hero_text{
    padding-top: 15rem;
}
.vision{
    margin-top: 2rem;
}
.vision_1{
    margin-top:7rem;
}
.vision_1 p{
    margin: 2rem 0 2.5rem;
}
.vission_img{
    background: url('img/ngo1.jpg');
    background-size: cover;
    height: 30rem;
}
/* .vision{
    background-color: #E2239A;
    height: 30rem;
} */
.btn_mission{
    background: #1F0245;
    color:white;
    height: 1rem;
    width:2rem;
    padding:1rem;
    outline: none;
    /* margin-top: 5rem; */
}
.mission_pics{
    background: url('img/mk3.jpg');
    background-size: cover;
    height: 25rem;
}
.service{
    margin-top: 3rem;
    width: 100%;
}
.team{
    margin: 3rem 0;
}
.ser_img{
    background-image: url('img/governance\ 2.jpg');
    background-size: cover;
    height: 20rem;
    width: 100%;
}
.ser_img h3{
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    font-size: 30px;
}
/* .ser_img :nth-child(2){
    background: url('img/peace1.jpg');
    height: 20rem;
    background-size: cover;
} */
.icons{
    font-size: 30px;
}
.foot{
    background: rgba(0, 0, 0, 0.362);
    margin-top: 3rem;
}
.contact{
    margin-top: 3rem;
}
.btn1{
    /* background: #fd059e; */
    background: navy;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: var(--font-weight-smaller);
    font-size:15px;
    outline: none;
    border: none;
    color: white;
}
.btn2{
     background-color:rgba(0, 0, 128, 0.871);
        color:#fff;
        font-size: 25px;
        margin-top:1rem ;
        width: 10rem;
        height:4rem;
        border: none;
}
.contacts,.conts{
    margin-top:2rem;
}
@media (min-width:300px) and (max-width:550px) {

    .hero_text{
        padding-top: 7rem;
    }
    .vision_1{
        margin-top:3rem;
    }
  
    .text_hero{
        font-size: 20px;
    }
    .text_p{
        font-size: 15px !important;
    }
    .card1{
        margin-top: 2rem;
    }
    .card2, .foot{
        margin-top: 1rem;
    }
    .txt1{
        padding-top:6rem;
    }
    .txt2{
        padding-top: 1rem;
    }
}